.body::after{
    content: "";
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    opacity: 0.55;
    z-index: -1;
    background-repeat: no-repeat;
    background-size: 100% 100%;
    background-image: url('https://avatars.mds.yandex.net/get-pdb/918543/42fff5a3-ee0d-434e-8e06-998378876ef6/s1200');
  }

  .body{
      margin-top: 20px;
  }


.view {
  height: 100%;
}

@media (max-width: 740px) {
  .view {
    height: 1000px;
  }
}
@media (min-width: 800px) and (max-width: 850px) {
  .view {
    height: 600px;
  }
}

.btn .fa {
  margin-left: 3px;
}

.top-nav-collapse {
  background-color: #424f95 !important;
}

.navbar:not(.top-nav-collapse) {
  background: transparent !important;
}

@media (max-width: 991px) {
  .navbar:not(.top-nav-collapse) {
    background: #424f95 !important;
  }
}

.btn-white {
  color: black !important;
}

h6 {
  line-height: 1.7;
}